<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100%;">
  <a href="/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <!-- <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
    <span class="fs-4">Lynkstone</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="/dashboard" class="nav-link <%= currentRoute === 'dashboard' ? 'active' : 'text-white' %>" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/clients" class="nav-link <%= currentRoute === 'clients' ? 'active' : 'text-white' %>" >
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Clients
      </a>
    </li>
    <li>
      <a href="/employees" class="nav-link <%= currentRoute === 'employees' ? 'active' : 'text-white' %>" >
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Employees
      </a>
    </li>
    <li>
      <a href="/suppliers" class="nav-link <%= currentRoute === 'suppliers' ? 'active' : 'text-white' %>" >
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Suppliers
      </a>
    </li>
    <li>
      <a href="/reports" class="nav-link <%= currentRoute === 'reports' ? 'active' : 'text-white' %>" >
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Reports
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" id="logout-link" class="d-flex align-items-center text-white text-decoration-none">
      <span class="material-symbols-outlined">
      logout
      </span>
      <strong>Log Out</strong>
    </a>
  </div>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="js/sidebar.js"></script></body>
