<!doctype html>
<html lang="en" data-bs-theme="auto">
  <%- include('../header.ejs'); %>
  <body>
    <div class="d-flex">
        <%- include('../sidebar.ejs'); %>
      </div>

      <div class="flex-grow-1 p-3" style="margin-left: auto;">
        <h2 class="mb-2">
          Upcoming Events
          <button type="button" class="add-button" id="openJobFormButton">
            New Job
          </button>
          <button type="button" class="add-button" id="openMeetingFormButton">
            New Meeting
          </button>
        </h2>
        <p> Within 7 days</p>
        <%- include('../jobForm.ejs'); %>
        <%- include('../meetingForm.ejs'); %>
        <script type="module" src="js/dashboard.js"></script>
        <%- include('../table.ejs'); %>
</html>
