<!doctype html>
<html lang="en" data-bs-theme="auto">
  <%- include('../header.ejs'); %>
  <body>
    <div class="d-flex" style="background-color: #212529;">
      <%- include('../sidebar.ejs'); %>
    </div>
      <div class="flex-grow-1 p-3" style="margin-left: auto;">
        <h2 class="mb-2">
          Upcoming Events
          <button type="button" class="add-button" id="openJobFormButton">
            New Job
          </button>
          <button type="button" class="add-button" id="openMeetingFormButton">
            New Meeting
          </button>
        </h2>
      <div class="btn-group mb-3">
        <button id="withinSevenDays" class="btn btn-primary">Within 7 days</button>
        <button id="allEvents" class="btn btn-primary">All Events</button>
      </div>
        <%- include('../jobForm.ejs'); %>
        <%- include('../meetingForm.ejs'); %>
        <%- include('../search.ejs'); %>
        <%- include('../table.ejs'); %>
        <script type="module" src="js/dashboard.js"></script>
</html>
