<!doctype html>
<html lang="en" data-bs-theme="auto">
  <%- include('../header.ejs'); %>
  <body>
    <div class="d-flex" style="background-color: #212529;">
      <%- include('../sidebar.ejs'); %>
      </div>
      <div class="flex-grow-1 p-3">
        <h2 class="mb-4">Supplier List
          <button type="button" class="add-button" id="openSupplierFormButton">
            +
          </button>
        </h2>
        <%- include('../suppliersForm.ejs'); %>
        <%- include('../search.ejs'); %>
        <%- include('../table.ejs'); %>
        <script type="module" src="js/suppliers.js"></script>
      </div>
    </div>
  </body>
</html>
